button {
    color: #1500ff;
    background-color: rgba(255, 255, 0, 0.7);
    font-size: 50px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    border-radius: 10px;
}

button:hover {
    background-color: rgba(0, 86, 179, 0.7);
}

button:active {
    background-color: rgba(0, 64, 128, 0.7);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

body,
html {
    margin: 0;
    height: auto;
    overflow: auto;
    position: relative;
}

body {
    position: static;
    width: 100%;
    min-height: 100vh;
    background-image: url('OIP (1).jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    animation: donghua 2s forwards;
}

.video {
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
}

.video h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.video button {
    display: block;
    margin-bottom: 10px;
    background-color: rgba(0, 123, 255, 0.7);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.video button:hover {
    background-color: rgba(0, 86, 179, 0.7);
}

.video h1 {
    color: #555;
    font-size: 20px;
    margin-top: 20px;
}

@keyframes donghua {
    from {
        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    }
    to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

.styled-copy-btn {
    font-size: 16px; 
    padding: 5px 10px; 
}
